body {
	padding-top: 50px;
	margin-bottom: 10em !important;
}

html {
	position: relative;
	min-height: 100%;
}

.stylish-input-group {
	margin-bottom: 2em;
}

.stylish-input-group .input-group-addon {
	background: white !important;
}

.stylish-input-group .form-control {
	border-right: 0;
	box-shadow: 0 0 0;
	border-color: #ccc;
}

.stylish-input-group button {
	border: 0;
	background: transparent;
}

.base-template {
	padding: 40px 15px;
	text-align: center;
}

.container .text-muted {
	margin: 20px 0;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}

.show-container {
	/*margin-top: 1em;
	margin-bottom: 1em;*/
	
}

#search {
	margin-left: 15px;
	width: 100%;
}

#search-results {
	text-align: left; !
	important list-style-type: none;
}

a:hover {
	text-decoration: none;
	color: #337ab7;
}

.navbar-text.current-playing {
	width: 20%;
}

.navbar-text.audio-control {
	width: 50%;
}

audio {
	width: 100%;
}

.sub-button {
	background-color: #2196f3 !important;
	color: white !important;
}

.subbed-button {
	background-color: green !important;
	color: white !important;
}

.episode-sub-table {
	margin-bottom: 0 !important;
}

.shows-table td.artwork {
	width: 30%;
}

.sub-artwork {
	width: 100%;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

.jumbotron>img {
	width: 30%;
}

div#show-artwork>img {
	width: 40%;
}

div#loader {
	text-align: center;
}

div#loader-mini {
	display: inline-block;
	vertical-align: center;
}

.item {
	border-radius: 4px;
	width: 100%;
	background-color: #ebf3f9;
}

.item>a {
	display: inline-block;
	height: auto;
	overflow: hidden;
}

.item>a>img {
	width: 60%;
}

.icon-prev {
	color: #102432;
}

.icon-next {
	color: #102432;
}

.table-responsive>tr>td:nth-child(3) {
	vertical-align: middle;
}

.bump-back {
	margin-right: 25%;
}

art-icon {
	width: 85%;
}

.show-controls {
	margin-left: -40px
}

.currently-playing {
	font-weight: bold;
	font-style: italic;
}